*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
# Large videos only - these will be YouTube embeds
img/GameDevelopment[[:space:]](2).mp4 filter=lfs diff=lfs merge=lfs -text
img/Videos/App[[:space:]]Screen[[:space:]]Recordings/BookShelf[[:space:]]Adventures[[:space:]]Video[[:space:]]Portfolio.mp4 filter=lfs diff=lfs merge=lfs -text
